@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-[#0a0a0a] overflow-hidden font-sans;
  }
  h1, h2, h3, .serif {
    font-family: 'Cormorant Garamond', serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}